<% if flash.now[:alert] %>
<h2><%= pluralize(@status.errors.count, "error") %> prohibited this form from being saved:</h2>
<ul>
  <% @status.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @status do |f| %>
  <%= f.label :status_message %>
  <br>
  <%= f.text_area :status_message %>
  <br>
  <%= f.label :user %>
  <br>
  <%= f.text_field :user %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
