<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1> All the Statuses </h1>

<table>
  <thead>
    <tr>
      <th>User's Name</th>
      <th>Status Message</th>
      <th>Number of Likes</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
    <tr>
      <td> <%= link_to status.user, status %> </td>
      <td> <%= status.status_message %> </td>
      <td> <%= status.likes %> </td>
      <td> <%= link_to "Like this!", like_path(status)%> </td>
      <td> <%= link_to "Edit", edit_status_path(status) %> </td>
      <td> <%= link_to "Delete", status, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to "Create New Status", new_status_path %>
