<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>
  <%= @status.user %>'s status:
</h1>

<p>
  <%= @status.status_message %>
</p>

<p>
  Number of likes: <%= @status.likes %>
</p>

<br>

<%= link_to "See All Statuses", root_path %>
